---
export interface Props {
  name: string;
  facebook?: string;
  spotify?: string;
  instagram?: string;
  website?: string;
  imageUrl?: string;
  youtube?: string;
  class?: string;
}

const {
  name,
  facebook,
  spotify,
  instagram,
  website,
  youtube,
  class: className,
  imageUrl = "/images/Waldfreibad_Logo.png",
} = Astro.props;
---

<li class="artist">
  <header>
    <div
      class={className + " artist__image"}
      style={`background-image: url(${imageUrl})`}
    >
      <div class="artist__name">{name}</div>
      <div class="artist__socials">
        {
          website && (
            <a class="social" href={website} target="_blank">
              <i class="fa-regular fa-globe" />
            </a>
          )
        }
        {
          spotify && (
            <a class="social" href={spotify} target="_blank">
              <i class="fa-brands fa-spotify" />
            </a>
          )
        }
        {
          instagram && (
            <a class="social" href={instagram} target="_blank">
              <i class="fa-brands fa-instagram" />
            </a>
          )
        }
        {
          youtube && (
            <a class="social" href={youtube} target="_blank">
              <i class="fa-brands fa-youtube" />
            </a>
          )
        }
        {
          facebook && (
            <a class="social" href={facebook} target="_blank">
              <i class="fa-brands fa-facebook" />
            </a>
          )
        }
      </div>
    </div>
  </header>
</li>

<style>
  .artist {
    max-width: 35ch;
    width: 100%;
    list-style: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    box-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }
  .artist__image {
    height: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 0.4rem;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .artist__name {
    font-family: "Metal Mania", sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .artist__socials {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    flex-direction: row;
    gap: 0.25rem;
    justify-content: space-evenly;
    font-size: 1.1rem;
    padding: 0.25rem;
  }
  .social {
    color: inherit;
    transition: color 0.2s ease;
  }
  .social:hover {
    color: #b77700;
    cursor: pointer;
  }
</style>
